<?xml version="1.0" encoding="utf-8"?>

<rotate xmlns:android="http://schemas.android.com/apk/res/android"
        android:fromDegrees="0"
        android:pivotX="50%"
        android:pivotY="50%"
        android:toDegrees="1440">
  <shape
    android:innerRadiusRatio="3"
    android:shape="ring"
    android:thicknessRatio="8"
    android:useLevel="false">
    <size
      android:height="48dip"
      android:width="48dip" />
    <gradient
      android:centerY="0.5"
      android:endColor="@color/Transparent"
      android:startColor="@color/White"
      android:type="sweep"
      android:useLevel="false" />
  </shape>
</rotate>