﻿<?xml version="1.0" encoding="utf-8"?>

<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
                xmlns:local="http://schemas.android.com/apk/res-auto"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:background="@drawable/notificationitem_background"
                local:MvxBind="BackgroundColor BackgroundColor,Converter=StringToColor">
  <RelativeLayout
    android:layout_height="@dimen/NotificationHeight"
    android:layout_width="match_parent"
    android:id="@+id/notificationitem"
    android:clickable="true"
    local:MvxBind="Click NotificationClicked">
    <Imageview
      android:id="@+id/image"
      android:layout_height="@dimen/NotificationImageSize"
      android:layout_width="@dimen/NotificationImageSize"
      android:layout_alignParentLeft="true"
      android:layout_marginLeft="@dimen/NotificationMagrinLeft"
      android:layout_marginTop="@dimen/NotificationContentMarginTop"
      android:scaleType="fitCenter"
      android:src="@drawable/default_complaint_image"
      local:MvxBind="Bitmap ImageSource,Converter=ImagePathToBitmap" />
    <dc.CustomTextView
      android:id="@+id/content"
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      android:gravity="left|center_vertical"
      android:textSize="@dimen/SmallestTextSize"
      android:textColor="@color/Black"
      android:layout_toRightOf="@id/image"
      android:layout_marginTop="@dimen/NotificationContentMarginTop"
      android:layout_marginLeft="@dimen/NotificationMagrinLeft"
      android:minLines="1"
      android:maxLines="2"
      android:lineSpacingExtra="3dp"
      local:MvxBind="HtmlText NotificationContent" />
    <ImageView
      android:id="@+id/status"
      android:layout_height="@dimen/NotificationStatusSize"
      android:layout_width="@dimen/NotificationStatusSize"
      android:scaleType="fitCenter"
      android:layout_marginTop="@dimen/NotificationStatusMagrinTop"
      android:layout_marginRight="@dimen/NotificationStatusMagrinRight"
      android:layout_alignParentRight="true"
      android:layout_below="@id/content"
      local:MvxBind="DrawableName StatusIcon" />
    <!--local:MvxBind="DrawableName StatusIcon"/>-->
    <TextView
      android:id="@+id/time"
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      android:textSize="@dimen/TinyTextSize"
      android:textColor="@color/Black"
      android:layout_toLeftOf="@id/status"
      android:layout_below="@id/content"
      android:layout_marginTop="@dimen/NotificationTimeMagrinTop"
      android:layout_marginRight="@dimen/NotificationTimeMagrinRight"
      local:MvxBind="Text NotificationTime" />
  </RelativeLayout>
</RelativeLayout>