<?xml version="1.0" encoding="utf-8"?>
<merge xmlns:android="http://schemas.android.com/apk/res/android"
       xmlns:local="http://schemas.android.com/apk/res-auto"
       attachToRoot="true">
  <RelativeLayout
      android:orientation="vertical"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:layout_margin="@dimen/PopupMargin"
      android:layout_centerVertical="true">

    <TextView
      android:id="@+id/header"
      android:layout_alignParentTop="true"
      android:layout_gravity="center"
      android:layout_centerHorizontal="true"
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      android:textStyle="bold"
      android:layout_margin="@dimen/PopupMargin"
      android:textSize="@dimen/BigTextSize"
      local:MvxBind="Text AnswerFeedback" />

    <!--Satisfied-->
    <RelativeLayout
      android:id="@+id/satisfied"
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      android:layout_below="@id/header"
      android:layout_marginTop="@dimen/BiggerTextSize"
      android:layout_marginLeft="@dimen/BiggerTextSize">

      <ImageView
        android:id="@+id/satisfiedCheckbox"
        android:layout_width="@dimen/MediumMenuIconHeight"
        android:layout_height="@dimen/MediumMenuIconHeight"
        android:src="@drawable/radio_checked"/>
      <TextView
        android:id="@+id/satisfyText"
        android:textSize="@dimen/MediumTextSize"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_marginLeft="@dimen/BigTextSize"
        android:layout_toRightOf="@id/satisfiedCheckbox"
        local:MvxBind="Text SatisfyText" />
    </RelativeLayout>

    <!--Unsatisfied-->
    <RelativeLayout
      android:id="@+id/unsatisfied"
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      android:layout_below="@id/satisfied"
      android:layout_marginTop="@dimen/BiggerTextSize"
      android:layout_marginBottom="@dimen/BiggestTextSize"
      android:layout_marginLeft="@dimen/BiggerTextSize">

      <ImageView
        android:id="@+id/unsatisfiedCheckbox"
        android:layout_width="@dimen/MediumMenuIconHeight"
        android:layout_height="@dimen/MediumMenuIconHeight"
        android:src="@drawable/radio_unchecked"/>
      <TextView
        android:id="@+id/unsatisfyText"
        android:textSize="@dimen/MediumTextSize"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_marginLeft="@dimen/BigTextSize"
        android:layout_toRightOf="@id/unsatisfiedCheckbox"
        local:MvxBind="Text UnsatisfyText" />

      <!--Option for select Unsatisfied-->
      <LinearLayout
      android:id="@+id/unSatisfiedLayout"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:orientation="vertical"
      android:layout_marginTop="@dimen/LayoutBigMargin"
      android:layout_marginBottom="0dp"
      android:layout_below="@id/unsatisfyText"
      android:layout_marginLeft="@dimen/BiggestTextSize">

        <!--SlowResponse-->
        <RelativeLayout
          android:id="@+id/slowResponse"
          android:layout_width="match_parent"
          android:layout_height="wrap_content"
          android:layout_below="@id/satisfied"
          android:layout_centerVertical="true"
          android:padding="@dimen/PopupPadding">
          <ImageView
            android:id="@+id/slowResponseCheckbox"
            android:layout_width="@dimen/MediumMenuIconHeight"
            android:layout_height="@dimen/MediumMenuIconHeight"
            android:src="@drawable/checkbox_uncheck"/>
          <TextView
            android:id="@+id/slowResponseText"
            android:textSize="@dimen/MediumTextSize"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_marginLeft="@dimen/BigTextSize"
            android:layout_toRightOf="@id/slowResponseCheckbox"
            local:MvxBind="Text SlowResponse" />
        </RelativeLayout>

        <!--UnSuitAnswer-->
        <RelativeLayout
          android:id="@+id/unSuitAnswer"
          android:layout_width="match_parent"
          android:layout_height="wrap_content"
          android:layout_below="@id/slowResponse"
          android:layout_centerVertical="true"
          android:padding="@dimen/PopupPadding">
          <ImageView
            android:id="@+id/unSuitAnswerCheckbox"
            android:layout_width="@dimen/MediumMenuIconHeight"
            android:layout_height="@dimen/MediumMenuIconHeight"
            android:src="@drawable/checkbox_uncheck"/>
          <TextView
            android:id="@+id/unSuitAnswerText"
            android:textSize="@dimen/MediumTextSize"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_marginLeft="@dimen/BigTextSize"
            android:layout_toRightOf="@id/unSuitAnswerCheckbox"
            local:MvxBind="Text UnsuitAnswer" />
        </RelativeLayout>

        <TextView
          android:id="@+id/answerFeedbackError"
          android:textSize="@dimen/MediumTextSize"
          android:textColor="@color/Red"
          android:layout_width="wrap_content"
          android:layout_height="wrap_content"
          android:gravity="center_horizontal"
          android:layout_marginTop="@dimen/BiggerTextSize"
          local:MvxBind="Text AnswerFeedbackErrorMessage" />
      </LinearLayout>
    </RelativeLayout>

    
    <LinearLayout
      android:id="@+id/popupButton"
      android:orientation="horizontal"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:layout_marginTop="@dimen/LayoutMargin"
      android:layout_below="@id/unsatisfied">
      <dc.AlphaButton
        android:id="@+id/cancelButton"
        android:layout_width="0dp"
        android:layout_height="@dimen/PopupButtonHeight"
        android:layout_weight="1"
        android:layout_marginRight="@dimen/PopupMargin"
        android:background="@drawable/cancel_button"
        android:textColor="@color/Black"
        android:textSize="@dimen/MediumTextSize"
        local:MvxBind="Text CancelPopup" />
      <dc.AlphaButton
        android:id="@+id/confirmButton"
        android:layout_width="0dp"
        android:layout_height="@dimen/PopupButtonHeight"
        android:layout_weight="1"
        android:layout_centerHorizontal="true"
        android:background="@drawable/confirm_button"
        android:textColor="@color/White"
        android:textSize="@dimen/MediumTextSize"
        local:MvxBind="Text Confirm" />
    </LinearLayout>
  </RelativeLayout>
</merge>