﻿<?xml version="1.0" encoding="utf-8"?>
<merge
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:local="http://schemas.android.com/apk/res-auto">
  <RelativeLayout
    android:layout_width="match_parent"
    android:layout_height="@dimen/PopupDepartmentListHeight"
    android:background="@drawable/roundedcorner_gradient_background"
    android:layout_centerVertical="true"
    local:MvxBind=" Visibility IsDropdownPopupShown, Converter=BoolToViewStates">
    <RelativeLayout
      android:id="@+id/Header"
      android:layout_width="match_parent"
      android:layout_height="@dimen/DepartmentPopupHeight"
      android:layout_alignParentTop="true"
      android:background="@drawable/roundedcorner_gradient_background">
      <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textSize="@dimen/MediumTextSize"
        android:layout_centerVertical="true"
        android:layout_centerHorizontal="true"
        android:textColor="@color/GrayTransparent"
        local:MvxBind="Text SpinnerHeader; Click OnDepartmentCommand" />
      <dc.AlphaImageView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_alignParentRight="true"
        android:layout_margin="@dimen/RoundCorner"
        android:padding="@dimen/RoundCorner"
        android:src="@drawable/remove"
        local:MvxBind="Click OnCloseDepartmentCommand" />
    </RelativeLayout>
    <Mvx.MvxListView
      android:id="@+id/ListDepartment"
      android:layout_width="match_parent"
      android:layout_height="match_parent"
      android:layout_below="@id/Header"
      android:divider="@color/DarkerGray"
      android:background="@drawable/roundedcorner_gradient_background"
      android:dividerHeight="1dp"
      local:MvxBind="ItemsSource DepartmentItemViewModels"
      local:MvxItemTemplate="@layout/dropdowndepartmentitemview" />
  </RelativeLayout>
</merge>