<?xml version="1.0" encoding="utf-8"?>

<merge xmlns:android="http://schemas.android.com/apk/res/android"
			 xmlns:local="http://schemas.android.com/apk/res-auto"
			 attachToRoot="true">
	<RelativeLayout
		android:id="@+id/CancelPopup"
		android:layout_width="match_parent"
		android:layout_height="@dimen/PopupHeight"
		android:layout_margin="@dimen/PopupMargin"
		android:layout_centerVertical="true">
		<TextView
			android:id="@+id/confirmTextfield"
			android:layout_alignParentTop="true"
			android:layout_centerHorizontal="true"
			android:layout_width="wrap_content"
			android:layout_height="wrap_content"
			android:textStyle="bold"
			android:layout_margin="@dimen/PopupMargin"
			android:textSize="@dimen/BigTextSize"
			local:MvxBind="Text Confirm" />
		<TextView
			android:id="@+id/confirmInstruction1"
			android:layout_below="@id/confirmTextfield"
			android:layout_centerHorizontal="true"
			android:layout_width="wrap_content"
			android:layout_height="wrap_content"
			android:textSize="@dimen/MediumTextSize"
			local:MvxBind="Text ConfirmInstruction1" />
		<TextView
			android:id="@+id/confirmCancel"
			android:layout_below="@id/confirmInstruction1"
			android:layout_centerHorizontal="true"
			android:layout_width="wrap_content"
			android:layout_height="wrap_content"
			android:layout_margin="@dimen/PopupMargin"
			android:textSize="@dimen/MediumTextSize"
			local:MvxBind="Text ConfirmCancel" />
		<!--Button-->
		<LinearLayout
			android:id="@+id/cancelConfirmButtons"
			android:orientation="horizontal"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:layout_alignParentBottom="true">
			<dc.AlphaButton
				android:id="@+id/cancelCancelButton"
				android:layout_width="0dp"
				android:layout_height="@dimen/PopupButtonHeight"
				android:layout_weight="1"
				android:layout_marginRight="@dimen/PopupMargin"
				android:background="@drawable/cancel_button"
				android:textColor="@color/LightGray"
				android:textSize="@dimen/MediumTextSize"
				local:MvxBind="Text CancelPopup" />
			<dc.AlphaButton
				android:id="@+id/confirmCancelButton"
				android:layout_width="0dp"
				android:layout_height="@dimen/PopupButtonHeight"
				android:layout_weight="1"
				android:background="@drawable/confirm_button"
				android:textColor="@color/White"
				android:textSize="@dimen/MediumTextSize"
				local:MvxBind="Text Confirm; Click ComplaintDetailViewModel.ConfirmCancelCommand" />
		</LinearLayout>
		<!--/Button-->
	</RelativeLayout>
</merge>