<?xml version="1.0" encoding="utf-8"?>

<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
				xmlns:local="http://schemas.android.com/apk/res-auto"
				android:layout_width="match_parent"
				android:layout_height="match_parent"
				android:background="@color/LightestGray">
	<TextView
	  android:id="@+id/SecondLoginText"
	  android:layout_alignParentTop="true"
	  android:layout_centerHorizontal="true"
	  android:layout_width="wrap_content"
	  android:layout_height="wrap_content"
	  android:layout_marginTop="@dimen/PersonalInfoTopMargin"
	  android:textSize="@dimen/MediumTextSize"
	  local:MvxBind="Text SecondLoginText" />
	<!--Facebook Login-->
	<dc.AlphaRelativeLayout
	  android:id="@+id/fbSignInLayout"
	  android:layout_width="@dimen/SecondLoginButtonWidth"
	  android:layout_height="@dimen/LoginButtonHeight"
	  android:layout_below="@id/SecondLoginText"
	  android:layout_marginTop="@dimen/PersonalInfoTopMargin"
	  android:layout_centerHorizontal="true"
	  android:layout_centerVertical="true"
	  android:background="@drawable/FacebookLoginButton">
		<ImageView
		  android:id="@+id/facebooklogo"
		  android:layout_width="@dimen/LoginButtonHeight"
		  android:layout_height="match_parent"
		  android:src="@drawable/fb"
		  android:padding="@dimen/SearchButtonPadding" />
		<TextView
		  android:layout_width="match_parent"
		  android:layout_height="match_parent"
		  android:layout_marginLeft="@dimen/SearchBoxEditTextMargin"
		  android:gravity="center_vertical"
		  android:layout_toRightOf="@id/facebooklogo"
		  android:textSize="@dimen/MediumTextSize"
		  android:paddingTop="@dimen/SearchButtonPadding"
		  android:paddingBottom="@dimen/SearchButtonPadding"
		  android:textColor="@color/White"
		  local:MvxBind="Text Facebook" />
		<com.facebook.login.widget.LoginButton
		  android:id="@+id/fbLoginButton"
		  android:layout_width="@dimen/LoginButtonWidth"
		  android:layout_height="@dimen/LoginButtonHeight"
		  android:visibility="gone" />
	</dc.AlphaRelativeLayout>
	<!--/Facebook Login-->
	<!--Google Login-->
	<dc.AlphaRelativeLayout
	  android:id="@+id/GoogleLogin"
	  android:layout_width="@dimen/SecondLoginButtonWidth"
	  android:layout_height="@dimen/LoginButtonHeight"
	  android:layout_below="@id/fbSignInLayout"
	  android:layout_centerHorizontal="true"
	  android:layout_centerVertical="true"
	  android:layout_marginTop="@dimen/ChooseAuthUpperMargin"
	  android:background="@drawable/GoogleLoginButton">
		<ImageView
		  android:id="@+id/googlelogo"
		  android:layout_width="@dimen/LoginButtonHeight"
		  android:layout_height="match_parent"
		  android:src="@drawable/googleplus"
		  android:layout_marginLeft="@dimen/SecondLoginMarginLeft"
		  android:padding="@dimen/TinyPadding" />
		<TextView
		  android:layout_width="match_parent"
		  android:layout_height="match_parent"
		  android:layout_marginLeft="@dimen/SecondLoginMarginLeft"
		  android:gravity="center_vertical"
		  android:layout_toRightOf="@id/googlelogo"
		  android:textSize="@dimen/MediumTextSize"
		  android:paddingTop="@dimen/SearchButtonPadding"
		  android:paddingBottom="@dimen/SearchButtonPadding"
		  android:textColor="@color/White"
		  local:MvxBind="Text Google" />
	</dc.AlphaRelativeLayout>
	<!--/Google Login-->

	<!--Cancel resending saved feedback-->
	<View
		android:id="@+id/divider"
		android:layout_width="@dimen/SecondLoginDividerWidth"
		android:layout_height="@dimen/ThinDivider"
		android:background="@color/Divider"
		android:layout_below="@id/GoogleLogin"
		android:layout_centerHorizontal="true"
		android:layout_marginTop="@dimen/BigContentMargin"
		android:layout_marginLeft="@dimen/ChooseAuthUpperMargin"
		android:layout_marginRight="@dimen/ChooseAuthUpperMargin"
		local:MvxBind="Visibility IsCancelResendingButtonShown, Converter=BoolToViewStates"/>

	<dc.AlphaRelativeLayout
	android:id="@+id/CancelResendingButton"
	android:layout_width="@dimen/SecondLoginButtonWidth"
	android:layout_height="@dimen/LoginButtonHeight"
	android:layout_below="@id/divider"
	android:layout_centerHorizontal="true"
	android:layout_centerVertical="true"
	android:layout_marginTop="@dimen/BigContentMargin"
	android:background="@drawable/CancelResendingButton"
	local:MvxBind="Click CancelResendingCommand; Visibility IsCancelResendingButtonShown, Converter=BoolToViewStates">
		<TextView
		  android:layout_width="match_parent"
		  android:layout_height="match_parent"
		  android:gravity="center"
		  android:textSize="@dimen/MediumTextSize"
		  android:paddingTop="@dimen/SearchButtonPadding"
		  android:paddingBottom="@dimen/SearchButtonPadding"
		  android:textColor="@color/White"
		  local:MvxBind="Text CancelResendingOfflineFeedbackText" />
	</dc.AlphaRelativeLayout>
</RelativeLayout>